<ion-view view-title={{item.roomId}}>
<ion-content>
    <p>{{account}}</p>
   <div class="card">
  <div class="item item-divider">
    <img ng-src={{item.img}}  height="200px" width="100%">
  </div>
  <div class="item item-text-wrap">
      <h2>名称:{{item.roomName}}</h2>
      <h2>编号:{{item.roomId}}</h2>
      <h2>容量:{{item.capacity}}</h2>
      <h2 class="positive" ng-click="show()">所装软件<i ng-class="{true: 'ion-chevron-up', false: 'ion-chevron-down'}[flag]" data-pack="default" data-tags="arrow, down"></i></h2> 
      <div ng-show="flag" >
      <p>{{item.softwares}}</p>
      </div> 
          <p id="left-button">
            <a class="button button-positive icon icon-right ion-chevron-right" href="#/tab/class-table/{{item.roomId}}">查看课表
            </a>
          </p>          
      </div>

  <div class="item item-divider">
    <div class="list list-inset">
        <label class="item item-input">
          <input type="text" id="course" placeholder="课程名字">
        </label>
        <label class="item item-input">
          <input type="text"  id="number" placeholder="上课人数">
        </label>
        <label class="item item-input">
          <input type="text" id="teacher"  placeholder="任课教师" >
        </label>        
        <div id="class-time">
          上课时间
            <select id="day" style="margin-left:30px">
              <option selected>周一</option>
              <option>周二</option>
              <option>周三</option>
              <option>周四</option>
              <option>周五</option>
            </select>
            <select id="no" style="margin-left:30px" ng-model="no">
              <option selected>1-2</option>
              <option>1-2-3</option>
              <option>3-4</option>
              <option>1-2-3-4</option>
              <option>5-6</option>
              <option>5-6-7</option>
              <option>8-9</option>
              <option>8-9-A</option>
            </select> 
        </div>

        
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="reserve()">我要预约</button>
      </div>
      
    </div>
  </div>
</div>

  </ion-content>
</ion-view>
