<ion-view view-title="教室">
  <ion-content class="padding">
       
          <p id="right-button">
            <a class="button button-positive icon icon-right ion-chevron-right" href="#/tab/class-table">最新课表
            </a>
          </p>
   <div id="select">
   	空闲时间
    <select>
      <option selected>周一</option>
      <option>周二</option>
      <option>周三</option>
      <option>周四</option>
      <option>周五</option>
    </select>
    <select>
      <option selected>1-2</option>
      <option>1-2-3</option>
      <option>1-2-3-4</option>
      <option>5-6</option>
      <option>5-6-7</option>
      <option>8-9</option>
      <option>8-9-A</option>
    </select> 
   </div>
   <div id="select">
   	教室容量
    <select>
      <option selected>40</option>
      <option>50</option>
    </select>
   </div>
   <div id="select">
   	所装软件
    <input type="text" placeholder="输入软件名字" style="display:inline;background-color:#eee;height:20px">

   </div>                       
 
       <div class="list">

        <a class="item item-thumbnail-left" href="#/tab/dash/1">
           <img src="http://www.pp3.cn/uploads/allimg/111110/114J0L31-5.jpg" width="100px" height="100px">
           <h2>名称:H503</h2>
           <h2>编号:503</h2>
           <h2>容量:40</h2>         
        </a>



      </div>     

  </ion-content>
</ion-view>
